## nyc_output dependency generated binary 
./nyc_output
/nyc_output
/.nyc_output

## sonnar-scanner dependency generated binary client report
./scripts/.scannerwork
/scripts/.scannerwork
/.scripts/.scannerwork
./scannerwork
.scannerwork

#
./code/**
/code/**
/.code/**
code/**

./sonar/**
/sonar/**
/.sonar/**
sonar/**

## node_modules
./node_modules
/node_modules
/.node_modules

## all files genereted
./coverage/**
/coverage/**
/.coverage/**